<template>
    <div>
        <div data-state="1" id="aboutMe" ref="page" class="single-player">

            <Navigation :myState="stateController" back="back">
                <template v-slot:title>
                    AboutMe - CustomState
                </template>
                <template v-slot:dropdown>
                    <ul>
                        <li @click="stateController.go('singlePlayer')">Player</li>
                        <li @click="stateController.go('songList')">SongList</li>
                        <li><a target="_blank" href="https://vuejs.org/">Vue.js</a></li>
                    </ul>
                </template>
            </Navigation>

            <div class="center">
                <div class="cover-and-title">
                    <div class="title-cover">
                        <h1>Salar Sadeghi</h1>
                        <h2>Full Stack Developer</h2>
                        <a target="_blank" href="https://twitter.com/salars_xyz">@twitter</a> | <a target="_blank"
                                                                                                   href="https://gitlab.com/sadeghisalar">@gitlab</a>
                        | <a target="_blank" href="https://salars.xyz">@salars</a>
                    </div>
                </div>

                <img alt="Vue" class="logo" src="../../assets/logo.png">
            </div>


        </div>
    </div>
</template>

<script>
    import Navigation from '../slots/navigation.vue';

    export default {
        name: "aboutMe",
        components: {
            Navigation
        },
        props: {
            stateController: [String, Object]
        }
    }
</script>

<style scoped>
    .center {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: max-content;
        height: -moz-max-content;
    }

    .cover {
        border-radius: 0px;
    }

    .cover:before {
        display: none;
    }

    .logo {
        max-width: 35%;
        height: auto;
        margin: 25px auto auto auto;
        display: block;
    }
</style>