<template>
    <div>
        <div data-state="1" id="singlePlayer" ref="page" :class="(myPlayer.Loaded() ? '' : 'loading')"
             class="single-player">

            <Navigation :myState="myState" back="songList">
                <template v-slot:title>
                    {{myPlayer.currentMusic.title}}
                </template>
                <template v-slot:dropdown>
                    <ul>
                        <li @click="myPlayer.play()">Play/Pause</li>
                        <li @click="myPlayer.next()">Next Track</li>
                        <li @click="myState.go('aboutMe')">About me :)</li>
                    </ul>
                </template>
            </Navigation>
            <div ref="singlePlayerContent" class="singlePlayerContent">
                <div class="cover-and-title">
                    <div ref="cover" class="cover">
                        <img v-bind:src="myPlayer.currentMusic.cover" :alt="myPlayer.currentMusic.title"/>
                    </div>
                    <div class="title-cover">
                        <h1>{{myPlayer.currentMusic.title}}</h1>
                        <h2>{{myPlayer.currentMusic.artist}}</h2>
                    </div>
                </div>

                <div @mouseleave="out()" @mousemove="streamAct()" @click="myPlayer.seekStream()" ref="streamContainer"
                     class="stream-bar">
                    <div ref="stream" class="stream"></div>
                    <div ref="streamBack" class="streamBack"></div>
                    <input style="width: 100%" v-model="rangeStream" @change="rangeAct()" type="range"
                           v-bind:max="myPlayer.duration" min="1" step="1"/>
                </div>

                <div class="single-player-btn">
                    <button @click="myPlayer.previous()" type="button" class="next"><img src="../../assets/next.svg?1"
                                                                                         alt=""/></button>
                    <button @click="myPlayer.play()" type="button" class="play">
                        <img v-if="myPlayer.isPlaying === true" ref="play_img" src="../../assets/pause.svg"/>
                        <img v-else ref="play_img" src="../../assets/play.svg"/>
                    </button>
                    <button @click="myPlayer.next()" type="button" class="prev"><img src="../../assets/next.svg?1"/>
                    </button>
                </div>
            </div>


        </div>
    </div>
</template>

<script>
    // eslint-disable-next-line no-unused-vars
    import Navigation from '../slots/navigation';
    import anime from 'animejs/lib/anime.es.js';

    export default {
        name: "singlePlayer",
        components: {
            Navigation
        },
        props: {
            myPlayer: [String, Object],
            myState: [String, Object]
        },
        data: function () {
            return {
                rangeStream: 0,
                streamPosition: 0,
                bouncingBall: null,
                play_img_anim: null,
                songListAnimate: null,
                playerAnimate: null,
            };
        },
        mounted() {

            this.$emit('singlePlayerContext', this);

            let target = this.$refs.cover;
            let play_img = this.$refs.play_img;
            // eslint-disable-next-line no-console
            // eslint-disable-next-line no-unused-vars
            this.bouncingBall = anime({
                targets: target,
                rotate: '1turn',
                duration: 12000,
                loop: true,
                easing: 'linear',
                autoplay: false
            });
            this.play_img_anim = anime({
                targets: play_img,
                rotate: '1turn',
                duration: 1000,
                scale: [
                    {value: 2, duration: 500},
                    {value: 1, duration: 800},
                ],
                reverse: true,
                autoplay: false
            });
        },
        methods: {
            streamAct() {
                var rect = this.$refs.streamContainer.getBoundingClientRect();
                var x = event.clientX - (rect.left); //x position within the element.
                this.$refs.streamBack.style.width = x + "px";
                this.$refs.streamBack.style.opacity = 1;
            },
            rangeAct() {
                this.streamPosition = this.rangeStream;
            },
            out() {
                this.$refs.streamBack.style.opacity = 0;
            }
        }
    }
</script>

<style scoped>
    input[type="range"] {
        position: absolute;
        opacity: 0;
        z-index: 3;
        height: 30px;
        cursor: pointer;
    }

    .play-it {
        opacity: 0.5;
        filter: blur(5px);
        transform: translateX(-25px);
        transition: 0.3s ease;
    }

    .no-play-it {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0px);
    }
</style>