<template>
    <div>
        <div data-state="1" ref="page" id="songList" class="single-player">
            <Navigation :myState="myState" back="back">
                <template v-slot:title>
                    <span v-if="!myPlayer.isPlaying && myPlayer.isPaused == null">Song List</span>
                    <span v-else-if="!myPlayer.isPaused && myPlayer.isPlaying">Now Playing</span>
                    <span v-else-if="myPlayer.isPaused">Paused</span>
                </template>
                <template v-slot:dropdown>
                    <ul>
                        <li @click="myPlayer.play()">Play/Pause</li>
                        <li @click="myPlayer.next()">Next Track</li>
                        <li @click="myPlayer.previous()">Previous</li>
                        <li @click="myState.go('singlePlayer')">Player</li>
                        <li @click="myState.go('aboutMe')">AboutMe</li>
                    </ul>
                </template>
            </Navigation>

            <div v-if="myPlayer.isPaused != null" @click="myState.go('singlePlayer',myPlayer.songListContextHandler)"
                 class="now-playing-title">
                <div class="title-cover">
                    <h1>{{myPlayer.currentMusic.title}}</h1>
                    <h2>{{myPlayer.currentMusic.artist}}</h2>
                </div>
            </div>

            <div class="song_list">
                <div v-bind:key="index" v-for="(item,index) in myPlayer.playList" class="list">
                    <div :id="'mini-stream'+index" class="stream-mini-bar"></div>
                    <div @click="myPlayer.playByIndex(item.index),myState.go('singlePlayer',myPlayer.songListContextHandler)"
                         class="list-img">
                        <img :src="item.cover"/>
                    </div>
                    <div @click="myPlayer.playByIndex(item.index),myState.go('singlePlayer',myPlayer.songListContextHandler)"
                         class="list-title">
                        <h1>{{item.title}}</h1>
                        <h2>{{item.artist}}</h2>
                    </div>
                    <div class="list-action">
                        <button @click="like()" type="button" class="list-next"><img src="../../assets/like.png"/>
                        </button>
                        <button @click="miniMenu(index)" type="button" class="list-prev"><img src="../../assets/dots-2.png"/>
                        </button>

                        <button @click="myPlayer.playByIndex(item.index,true)" type="button" class="list-play">
                            <img v-if="myPlayer.isPlaying === true && myPlayer.currentMusic.index === index"
                                 ref="play_img" src="../../assets/mini-pause.png"/>
                            <img v-else ref="play_img" src="../../assets/mini-play.png"/>
                        </button>

                        <div @mouseleave="closeMiniMenu(index)" :id="'mini-dropdown-'+index" class="mini-dropdown">
                            <ul>
                                <li @click="myPlayer.playByIndex(item.index),myState.go('singlePlayer')">Player</li>
                                <li @click="myPlayer.playByIndex(item.index,true)">Toggle</li>
                            </ul>
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </div>
</template>

<script>
    // eslint-disable-next-line no-unused-vars
    import Navigation from '../slots/navigation.vue';
    import anime from 'animejs/lib/anime.es.js';

    export default {
        name: "songList",
        components: {
            Navigation
        },
        props: {
            myPlayer: [String, Object],
            myState: [String, Object]
        },
        data: function () {
            return {
                direction: "",
            }
        },
        mounted() {
            this.$emit('songListContext', this);
            document.addEventListener("dragstart", function (event) {
                var img = new Image();
                img.src = 'data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=';
                event.dataTransfer.setDragImage(img, 0, 0);
            }, false);
        },
        methods: {
            miniMenu(index) {
                let mini_dropdown = document.querySelectorAll('.mini-dropdown');
                for (let i = 0; i < mini_dropdown.length; i++) {
                    if ( mini_dropdown[i].getAttribute('id') !== 'mini-dropdown-'+index){
                        mini_dropdown[i].classList.remove('show');
                    }
                }
                document.querySelector('#mini-dropdown-'+index).classList.toggle('show');
            },
            closeMiniMenu(index){
                document.querySelector('#mini-dropdown-'+index).classList.remove('show');
            },
            like() {
                // eslint-disable-next-line no-console
                if (event.target.classList.contains('liked')) {
                    event.target.src = require('../../assets/like.png');
                    event.target.classList.remove('liked');
                    anime({
                        targets: event.target,
                        scale: [
                            {value: 0.8},
                            {value: 1}
                        ]
                    }).play();
                } else {
                    event.target.src = require('../../assets/liked.png');
                    event.target.classList.add('liked');
                    anime({
                        targets: event.target,
                        scale: [
                            {value: 1.6},
                            {value: 1}
                        ],
                        // eslint-disable-next-line no-unused-vars
                        easing: 'easeInOutQuad',
                        duration: 400
                    }).play();
                }
            }

        }
    }
</script>

<style scoped>
    .song_list {
        height: 505px;
        overflow: hidden;
        margin-top: 30px;
        transition: 0.2s cubic-bezier(0.26, 0.05, 0.63, 0.85);
        background: #f3faff;
        position: relative;
        z-index: 2;
    }

    .song_list * {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently Opera and Firefox */
    }
    .mini-dropdown {
        position: absolute;
        background: #f2f7fd;
        top: -15px;
        right: 70px;
        -webkit-box-shadow: inset 0px 0px 7px 1px #f2f7fd, inset 0px 0px 0px 3px #f2f7fd, 7px 13px 13px 0px #00000017, -9px -4px 17px -4px #15151521;
        box-shadow: inset 0px 0px 7px 1px #f2f7fd, inset 0px 0px 0px 3px #f2f7fd, 7px 13px 13px 0px #00000017, -9px -4px 17px -4px #15151521;
        padding: 10px;
        z-index: 5;
        border-radius: 15px;
        text-align: left !important;
        display: block !important;
        width: 60px;
        opacity: 0;
        pointer-events: none;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }
    .mini-dropdown ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .mini-dropdown ul li{
        border-bottom: solid 1px #e2e9f2;
        padding-bottom: 5px;
        padding-top: 5px;
        cursor: pointer;
        font-size: 13px;
    }
    .mini-dropdown.show {
        opacity: 1;
        pointer-events: auto;
    }
</style>