<template>
    <div @mouseleave="close()" class="app-top-nav">
        <button class="ccc" @click="myState.go(back)" ref="back" type="button"><img src="../../assets/back.png"/></button>
        <div><slot name="title"></slot></div>
        <button @click="open()" class="ccc" type="button"><img src="../../assets/dots.png"/></button>
        <div  ref="dropdown" class="dropdown">
        <slot name="dropdown"></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: "navigation",
        props:{
            back:String,
            myState:[String,Object]
        },
        methods:{
            open(){
                let dp = this.$refs.dropdown;
                dp.classList.toggle('show-dropdown');
            },
            close(){
                let dp = this.$refs.dropdown;
                dp.classList.remove('show-dropdown');
            }
        }
    }
</script>