<template>
    <div>

        <!--native audio player-->
        <audio ref="nativePlayer" id="nativePlayer" controls>
            <source :src="currentMusic.url" type="audio/mpeg">
        </audio>

        <!-- states -->
        <SinglePlayer :class="(stateController.state === 'singlePlayer' ? 'show-it' : 'hide-it')" :myPlayer="this"
                      :myState="stateController" @singlePlayerContext="singlePlayerContextHandle"/>
        <SongList :class="(stateController.state === 'songList' ? 'show-it' : 'hide-it')" :myPlayer="this"
                  :myState="stateController" @songListContext="songListContextHandle"/>
        <CustomState :class="(stateController.state === 'aboutMe' ? 'show-it' : 'hide-it')"
                     :stateController="stateController"/>

    </div>
</template>

<script>
    import SinglePlayer from './states/singlePlayer.vue'
    import SongList from "./states/songList";
    import CustomState from "./states/aboutMe";
    import anime from "animejs";

    export default {
        name: "coreController",
        components: {
            SinglePlayer,
            SongList,
            CustomState
        },
        props: {
            stateController: [String, Object]
        },
        data: function () {
            return {
                isReady: false,
                isLoaded: false,
                isPaused: null,
                isPlaying: false,
                duration: 120,
                playList: [],
                currentMusic: [],
                singlePlayerContextHandler: [String, Object],
                songListContextHandler: [String, Object],
            };
        },
        created() {
            this.playList = [
                {
                    index: 0,
                    title: 'I Forgot That You Existed',
                    artist: 'Taylor Swift',
                    album: 'Lover',
                    cover: require('../assets/music/covers/1.jpg'),
                    url: require('../assets/music/1.mp3')
                },
                {
                    index: 1,
                    title: 'Set Fire to the Rain',
                    artist: 'Adele',
                    album: '21',
                    cover: require('../assets/music/covers/2.jpg'),
                    url: require('../assets/music/2.mp3')
                },
                {
                    index: 2,
                    title: 'Girlfriend',
                    artist: 'Avril Lavigne',
                    album: 'Girlfriend EP',
                    cover: require('../assets/music/covers/3.jpg'),
                    url: require('../assets/music/3.mp3')
                },
                {
                    index: 3,
                    title: 'Stupid',
                    artist: 'Tate McRae',
                    album: 'Stupid',
                    cover: require('../assets/music/covers/4.jpg'),
                    url: require('../assets/music/4.mp3')
                },
                {
                    index: 4,
                    title: 'Here with Me',
                    artist: 'Marshmello',
                    album: 'NOW That\'s What I Call Music! 102',
                    cover: require('../assets/music/covers/5.jpg'),
                    url: require('../assets/music/5.mp3')
                },
                {
                    index: 5,
                    title: 'I\'ll Be There',
                    artist: 'Jess Glynne',
                    album: 'I\'ll Be There (Acoustic)',
                    cover: require('../assets/music/covers/6.jpg'),
                    url: require('../assets/music/6.mp3')
                }
            ];
        },
        mounted() {

            this.$emit('playerControllerContext', this);

            let self = this;
            this.currentMusic = this.playList[0];
            this.browserPlayerActionHandler();
            document.body.onkeyup = function (e) {
                if (e.keyCode === 32) {
                    self.play();
                }
            };

            let is_ready_int = setInterval(function () {
                if (self.$refs.nativePlayer.readyState === 4) {

                    clearInterval(is_ready_int);
                }
            }, 100);

            this.$refs.nativePlayer.addEventListener("timeupdate", function () {
                self.isLoaded = true;
                self.duration = self.$refs.nativePlayer.duration;
                let currentTime = self.$refs.nativePlayer.currentTime;
                let duration = self.$refs.nativePlayer.duration;
                // eslint-disable-next-line no-console
                self.singlePlayerContextHandler.$refs.stream.style.width = (currentTime + .25) / duration * 100 + "%";
                document.querySelector('#mini-stream' + self.currentMusic.index).style.width = (currentTime + .25) / duration * 100 + "%";
            });

            this.$refs.nativePlayer.addEventListener("waiting", function () {
                self.isPlaying = false;
                self.isPaused = true;
            });

            this.$refs.nativePlayer.addEventListener("playing", function () {
                self.isPlaying = true;
                self.isPaused = false;
            });

            this.$refs.nativePlayer.addEventListener("canplay", function () {
                self.isReady = true;
                self.isLoaded = true;
            });

            this.$refs.nativePlayer.addEventListener("pause", function () {
                self.pause();
            });
            this.$refs.nativePlayer.addEventListener("ended", function () {
                self.next();
            });
            this.$refs.nativePlayer.addEventListener("error", function () {
                self.checkLive();
                self.next();
            });

        },
        methods: {
            play(change = false) {
                //let self = this;
                if (change) {
                    this.changeMusic();
                }

                this.duration = this.$refs.nativePlayer.duration;
                this.browserPlayerMediaSession(this);
                this.singlePlayerContextHandler.bouncingBall.play();

                this.singlePlayerContextHandler.play_img_anim.restart();
                if (this.$refs.nativePlayer.duration > 0 && !this.$refs.nativePlayer.paused) {
                    this.$refs.nativePlayer.pause();
                    this.singlePlayerContextHandler.bouncingBall.pause();
                } else {

                    this.singlePlayerContextHandler.$refs.stream.style.width = "0%";
                    for (let i = 0; i < document.querySelectorAll('.stream-mini-bar').length; i++) {
                        document.querySelectorAll('.stream-mini-bar')[i].style.width = "0%";
                    }
                    this.$refs.nativePlayer.play();
                }
            },
            pause() {
                this.isPlaying = false;
                this.isPaused = true;
                this.$refs.nativePlayer.pause();
                this.singlePlayerContextHandler.bouncingBall.pause();
            },
            seekStream() {
                this.$refs.nativePlayer.currentTime = this.singlePlayerContextHandler.streamPosition;
            },
            changeMusic() {
                this.pause();
                this.$refs.nativePlayer.currentTime = 0;
                this.$refs.nativePlayer.src = this.currentMusic.url;
                this.browserPlayerActionHandler();
                let self = this;
                anime({
                    targets: self.singlePlayerContextHandler.$refs.singlePlayerContent,
                    translateY: [
                        {value: 300},
                        {value: 0}
                    ],
                    scale: [
                        {value: 0.2},
                        {value: 1}
                    ],
                    opacity: [
                        {value: 0.2},
                        {value: 1}
                    ],
                    // eslint-disable-next-line no-unused-vars
                    easing: 'easeInOutQuad',
                    duration: 400
                }).play();
            },
            playByIndex(preID, toggle = false) {
                if (toggle) {
                    if (preID === this.currentMusic.index) {
                        return this.play();
                    }
                }
                //if( preID !== this.currentMusic.index ){
                this.currentMusic = this.playList[preID];
                this.play(true);
                // }
            },
            previous() {
                let preID = this.currentMusic.index - 1;
                preID = (preID < 0 ? 0 : preID);
                this.currentMusic = this.playList[preID];
                this.changeMusic();
                this.play();
            },
            next() {
                let len = this.playList.length - 1;
                let preID = this.currentMusic.index + 1;
                preID = (preID > len ? 0 : preID);
                this.currentMusic = this.playList[preID];
                this.changeMusic();
                this.play();
            },
            singlePlayerContextHandle(variable) {
                this.singlePlayerContextHandler = variable;
            },
            songListContextHandle(variable) {
                this.songListContextHandler = variable;
            },
            browserPlayerMediaSession(self) {
                if ('mediaSession' in navigator) {
                    // eslint-disable-next-line no-undef
                    navigator.mediaSession.metadata = new MediaMetadata({
                        title: self.currentMusic.title,
                        artist: self.currentMusic.artist,
                        album: self.currentMusic.album,
                        artwork: [
                            {src: self.currentMusic.cover, sizes: '96x96', type: 'image/png'},
                            {src: self.currentMusic.cover, sizes: '128x128', type: 'image/png'},
                            {src: self.currentMusic.cover, sizes: '192x192', type: 'image/png'},
                            {src: self.currentMusic.cover, sizes: '256x256', type: 'image/png'},
                            {src: self.currentMusic.cover, sizes: '384x384', type: 'image/png'},
                            {src: self.currentMusic.cover, sizes: '512x512', type: 'image/png'},
                        ]
                    });
                }
            },
            browserPlayerActionHandler() {
                let self = this;
                if ('mediaSession' in navigator) {
                    // eslint-disable-next-line no-undef

                    navigator.mediaSession.setActionHandler('play', function () {
                        self.play();
                    });
                    navigator.mediaSession.setActionHandler('pause', function () {
                        self.singlePlayerContextHandler.bouncingBall.pause();
                        self.pause();
                    });
                    navigator.mediaSession.setActionHandler('previoustrack', function () {
                        self.previous();
                    });
                    navigator.mediaSession.setActionHandler('nexttrack', function () {
                        self.next();
                    });
                }
            },
            /**
             * @return {boolean}
             */
            Loaded() {
                this.checkLive();
                if (this.isReady && this.isLoaded) {
                    return true;
                } else {
                    return false;
                }
            },
            checkLive() {
                let self = this;

                let is_ready_int = setInterval(function () {
                    if (self.$refs.nativePlayer.readyState === 4) {
                            self.isReady = true;
                            self.isLoaded = true;
                        // eslint-disable-next-line no-console
                        return clearInterval(is_ready_int);
                    } else {
                        self.isReady = false;
                        self.isLoaded = false;
                    }
                }, 100);
            }
        }
    }
</script>
<style>
    audio {
        position: relative;
        z-index: -100;
        opacity: 0;
    }
</style>