<template>
    <div>
        <CoreController :stateController="this" @coreControllerContext="coreControllerContextHandle"/>
    </div>
</template>

<script>
    import CoreController from "./coreController";

    export default {
        name: "stateManager",
        components: {
            CoreController
        },
        data: function () {
            return {
                state: 'singlePlayer',
                beforeState: false,
                coreControllerContextHandler: [String, Object]
            };
        },
        methods: {
            coreControllerContextHandle(variable) {
                this.coreControllerContextHandler = variable;
            },
            go(id) {
                if (id === 'back') {
                    return this.back();
                }
                this.beforeState = this.state;
                this.state = id;
            },
            back() {
                this.state = this.beforeState;
            }
        }
    }
</script>