*
{
    -webkit-tap-highlight-color:transparent;
}
body {
    background: #e5ecf2;
}

a {
    color: #748196;
    text-decoration: none;
}

button {
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

#app {
    padding: 1em;
    color: #1e2b4d;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    width: max-content;
    height: max-content;
    width: -moz-max-content;
    height: -moz-max-content;
}

.app-top-nav {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 5fr 1fr;
    margin-top: 0.5em;
}

.app-top-nav button {
    width: 100%;
    padding: 0px;
    /*height: 35px;
    text-align: center; */
    border: none;
    background: transparent;
    /*box-shadow: inset 0px 0px 7px 1px #e9eef1, inset 0px 0px 0px 3px white, 3px 6px 7px -1px #00000014, -5px -4px 3px -1px #ffffff;*/
    border-radius: 0px;
    display: grid;
    place-content: center;
    text-align: center;
}

.app-top-nav button img {
    max-width: 100%;
    height: auto;
    margin: auto;
}

.app-top-nav div {
    text-align: center;
    display: grid;
    place-content: center;
    font-size: 13px;
    font-weight: bold;
    padding-top: 5px;
}

.single-player {
    background: #f3faff;
    border-radius: 20px;
    height: 590px;
    width: 285px;
    overflow: hidden;
    padding: 15px;
    position: absolute;
    box-shadow: 0px 0px 103px -22px #1e2b4d1f;
    bottom: 0;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
}

.hide-it {
    opacity: 0;
    pointer-events: none;
    transition: 0.2s cubic-bezier(0.4, 0, 1, 1);
    transform: scale(0.5);
    filter: blur(8px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* position: absolute;*/
}

.show-it {
    opacity: 1;
    transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    transform: scale(1);
    filter: blur(0px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* position: absolute;*/
}

.cover {
    width: 270px;
    height: 270px;
    overflow: hidden;
    border-radius: 100%;
    position: relative;
    border: 2px solid #fff;
    box-shadow: 0px 0px 103px -30px #1a233963;
    margin: auto;
}

.cover img {
    object-fit: cover;
    width: 270px;
    /* margin: auto; */
    height: 270px;
}

.no-circle:before {
    display: none;
}

.cover-and-title {
    /*display: grid;*/
    place-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 2em;
}

.cover:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #e4ecf2;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 100%;
}

.title-cover h1 {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 18px;
    margin-top: 2em;
}

.title-cover h2 {
    margin-top: 0;
    font-size: 15px;
    color: #8c93a5;
}

.stream-bar {
    background: #fff;
    width: 98%;
    height: 15px;
    box-shadow: inset 0px 0px 7px 1px #e9eef1, inset 0px 0px 0px 3px white, 3px 6px 7px -1px #00000014, -5px -4px 3px -1px #ffffff;
    position: relative;
    padding: 2px;
    border-radius: 25px;
    margin-top: 2em;
}

.stream {
    position: absolute;
    background: #fed1b4;
    box-shadow: 1px 2px 0px 0.5px #eab09c;
    height: 10px;
    border-radius: 25px;
    width: 0%;
    margin-top: 1px;
    margin-left: 2px;
    transition: 0.1s ease;
    z-index: 2;
}

.single-player-btn {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 2em;
}

.single-player-btn button {
    width: 100%;
    padding: 5px;
    height: auto;
    /* text-align: center; */
    border: none;
    background: #ffffff00;
    border-radius: 5px;
    display: grid;
    place-content: center;
    text-align: center;
}

.single-player-btn button img {
    max-width: 35%;
    height: auto;
    margin: auto;
}

button.play {
    box-shadow: inset 0px 0px 7px 1px #e9eef1, inset 0px 0px 0px 3px white, 3px 6px 7px -1px #00000014, -5px -4px 3px -1px #ffffff, inset -2px -2px 3px 3px #eab09c;
    width: 65px;
    margin: auto;
    border-radius: 100%;
    height: 65px;
    background: #fed1b4;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

button.play:hover {
    box-shadow: inset 0px 0px 7px 1px #e9eef1, inset 0px 0px 0px 3px white, 3px 6px 7px -1px #00000014, -5px -4px 3px -1px #ffffff, inset -41px -27px 3px 15px #eab09c;
}

button.prev, button.next {
    text-align: center;
    display: grid;
    place-content: center;
    align-items: center;
    align-content: center;
}

button.play img {
    filter: invert(1);
    width: max-content;
    height: auto;
}

button.prev img, button.next img {
    filter: opacity(0.4);
    place-content: center;
    display: grid;
    align-items: center;
    align-content: center;
    margin: auto;
    height: 55px;
}

button.next img {
    transform: rotate(180deg);
}

.state-none {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    display: none;
    z-index: -1;
    opacity: 0;
}

.pos-abs {
    position: absolute;
}


/*SONG LIST*/
.song_list {
    height: 450px;
    overflow: auto;
}

.now-playing-title {
    text-align: center;
    margin-top: 2em;
    cursor: pointer;

}

.song_list .list {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    place-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 18px;
    position: relative;
}

.song_list .list .list-img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
    position: relative;
    border: 2px solid #fff;
    -webkit-box-shadow: 0px 0px 103px -30px #1a233963;
    box-shadow: 0px 0px 103px -30px #1a233963;
    cursor: pointer;
}

.song_list .list .list-img:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #f3faff;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 100%;
}

.song_list .list .list-img img {
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.list-title {
    display: grid;
    place-content: start;
    align-items: center;
    align-content: center;
    cursor: pointer;
}

.list-title h1 {
    font-size: 13px;
    margin-bottom: 0;
}

.list-title h2 {
    font-size: 12px;
    color: #8c93a5;
    margin-top: 0;
    margin-bottom: 0;
}

.song_list .list:before {
    content: "";
    width: 100%;
    height: 4px;
    background: #e7f0f5;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(14px);
    transform: translateY(-12px);
    border-radius: 5px;
}

.list-action {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.list-action button img {
    width: 35px;
    height: 35px;
    object-fit: fill;
    margin: auto;
    display: block;
}

.list-action button {
    width: 30px;
    /*height: 30px;*/
    overflow: hidden;
    place-content: center;
    display: grid;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 0;
    border: none;
    background: transparent;
}

button.list-play {
    width: 40px;
    height: 40px;
}

button.list-play img {
    width: 40px;
    height: 40px;
}

.streamBack {
    background: #00000014;
    width: 14px;
    position: absolute;
    left: 0;
    margin-top: 0px;
    height: 14px;
    border-radius: 10px;
    opacity: 0;
    z-index: 2;
    -webkit-transition: opacity 0.1s ease;
    transition: opacity 0.1s ease;
}

.streamBack:after {
    content: "";
    width: 13px;
    height: 13px;
    background: #0000002e;
    position: absolute;
    right: 0;
    border-radius: 100%;
}

.stream-mini-bar {
    position: absolute;
    background: #fed1b4;
    /* -webkit-box-shadow: 1px 2px 0px 0.5px #eab09c; */
    /* box-shadow: 1px 2px 0px 0.5px #eab09c; */
    height: 5px;
    border-radius: 10px;
    padding: 0;
    width: 0%;
    margin-top: 0px;
    margin-left: 0px;
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
    z-index: 2;
    top: -13px;
}

.dropdown {
    position: absolute;
    background: #f2f7fd;
    top: 60px;
    right: 15px;
    box-shadow: inset 0px 0px 7px 1px #f2f7fd, inset 0px 0px 0px 3px #f2f7fd, 7px 13px 13px 0px #00000017, -9px -4px 17px -4px #15151521;
    padding: 10px;
    z-index: 5;
    border-radius: 15px;
    text-align: left !important;
    display: block !important;
    width: 100px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    transform: scale(0.5) translate(50px, -85px);
}

.dropdown ul {
    list-style: none;
    padding-right: 0;
    padding-left: 15px;
}

.dropdown ul li {
    border-bottom: solid 1px #e2e9f2;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
}

.dropdown ul li:hover {
    color: #eab09c
}

.dropdown ul li:last-child {
    border-bottom: none;
}

.show-dropdown {
    opacity: 1;
    pointer-events: auto;
    transition: 0.3s ease;
    transform: scale(1) translate(0px);
}

.loading {
    transition: 0.3s ease;
}

.loading:before {
    filter: blur(5px);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #ffffffe3;
    z-index: 3;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: 0.3s ease;
}

.loading:after {
    transition: 0.3s ease;
    content: "Loading";
    position: absolute;
    z-index: 4; /* display: grid; *//* place-content: center; */
    text-align: center;
    width: max-content;
    height: max-content;
    width: -moz-max-content;
    height: -moz-max-content;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #091730;
}
