<template>
    <div id="app">
        <StateManager v-if="!isSmallScreen"/>
        <div class="screen-size-txt" v-if="isSmallScreen">
            Check This Out On A Bigger Device
        </div>
    </div>
</template>

<script>

    import StateManager from './components/stateManager.vue'

    export default {
        name: 'app',
        components: {
            StateManager
        },
        data:function(){
          return{
              isSmallScreen:false
          };
        },
        created() {
            this.checkScreenSize();
        },
        mounted() {
            let self = this;
            document.getElementsByTagName("BODY")[0].onresize = function() {
                self.checkScreenSize();
            };
        },
        methods:{
            checkScreenSize(){
                if (window.innerWidth < 500){
                    this.isSmallScreen = true;
                }else {
                    this.isSmallScreen = false;
                }
            }
        }
    }
</script>
<style scoped>
    .screen-size-txt {
        position: fixed;
        width: max-content;
        height: max-content;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        display: block;
        font-weight: bold;
    }
</style>